<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СППР - О проекте</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/icon!!.png') }}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/about_project.css') }}">
</head>

<body>
    <!-- Header section -->
    <header>
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href='/'>Главная</a></li>
            <li class="menu__item"><a class="menu__link" href='/about_project'>О проекте</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Команда</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Партнеры</a></li>
            <li class="menu__item"><a class="menu__link" href="#">Связаться</a></li>

        </ul>
       
    </header>

    <!-- Hero section -->
    <section class="hero">
        <h1>СППР - О проекте</h1>
        <p>Добро пожаловать на страницу проекта!</p>
        <!-- <img src="{{ url_for('static', filename='img/IMG_2654.JPG') }}" alt="Project Image">  -->
    </section>

    <!-- Main content section -->
    <section>
        <div class="info-container">
            <div class="main-info">
                <h2>Основная информация об IT проекте</h2>
                <p>Проект представляет собой цифровой продукт, поэтому будет распространен по всей
                    территории Российской Федерации.
                    Масштаб проекта – Всероссийский, поскольку пользователи будут использовать его
                    продукт (а именно разработанное ПО) по сети Интернет.
                    По всей России существуют большие компании. В случае компаний с филиалами по
                    России сотрудники из разных городов будут пользоваться единым сервисом,
                    принятым корпоративным центром.
                </p>
            </div>
        </div>
        <div class="short-desc">
            <h2>Краткое описание проекта</h2>
            <ul>
                <li>О чем проект:
                    Цель проекта: упростить/автоматизировать принятие решения по выбору
                    специалиста из нескольких на основе его заявления на базе сравнительного анализа
                    критериев отбора. Проект использует ИИ для анализа текста и последующего
                    принятия решения на основе полученной информации.</li>
                <li> Для кого будет реализован мой проект:
                    Проект «СППР на основе ИИ» будет реализован для HR-специалистов, то есть тех, кто
                    занимается подбором специалистов в команду/компанию. В целом он может быть
                    полезен всем людям, которые хотят быстро и эффективно выбрать кандидатов на
                    вакансию.</li>
                <li> Зачем нужен проект:
                    Зачастую в большие компании поступает невероятно большое количество заявок на
                    вакансию. В результате HR-специалисты тратят много времени на анализ заявок и
                    принятие решения о выборе кандидата. </li>
                <br>
                <br>
                <p class='works_adv'>Суть работы итогового ПО заключается в том, что программа получает на вход текст –
                    заявку кандидата на вакансию. После этого она анализирует написанное при помощи
                    ИИ. Алгоритм выделяет ключевые слова, на основе которых формируется оценка
                    претендента и ответ на вопрос – пройдет ли он.</p>
            </ul>
        </div>
    </section>
    <section class="relevance">
        Сегодня существует множество больших компаний, в которые подаются
        многочисленные заявки на вакансии. Зачастую HR-работнику крайне сложно читать
        все заявки, которые в добавок ко всему еще и в одной форме.
        <a
            href="https://companies.rbc.ru/news/e2aMOcTKU3/top-8-oshibok-klientskogo-servisa/?ysclid=lu5yptyk3u101142617">
            По
            данным «РБК
            Компании»</a>
        <blockquote class='quote'>
            <p>Из-за ручного учета заявок около 20% всех
                обращений вообще теряется. Это неизбежно
                приводит к скандалам внутри организации (если
                речь идет о внутренней поддержке), либо к оттоку
                клиентов и потере их лояльности.</p>
        </blockquote>
        <br>
        Это утомляет HR-специалиста, а следовательно, снижает качество его работы.
        <a href="https://hh.ru/article/32527?ysclid=lu5zqjqa8k541704646"> По данным крупнейшей онлайн-рекрутинг
            платформы
            в России hh.ru</a>
        в настоящее время
        автоматизация бизнес-процессов – это настоящий тренд.
        <blockquote class='quote'>
            <p>В вопросе автоматизации важно
                не только ЧТО автоматизировать, но и КАК,
                тогда и эффективность организации в целом
                вырастет, и скорость принятия решений
                на основе данных увеличится.</p>
        </blockquote>
    </section>

    <!-- Footer section -->
    <footer>
        <p>&copy; 2024 СППР</p>
    </footer>
</body>

</html>