<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href=" {{ url_for ('static', filename='icons/icon!!.png') }}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/main_ai.css') }}">
    <title>AI Magic</title>


</head>

<body>

    <form action="/get_pdf" method="post" enctype="multipart/form-data" id="pdf-form">
        <label for="pdf-file">Upload a PDF file:</label>
        <input type="file" id="pdf-file" name="pdf-file" accept="application/pdf">
        <button type="submit">Upload</button>
    </form>
    <br>
    <br>
    <div class="label">Your resume is displayed here. Please, check if it is filled correctly. </div>

    <div id="pdf-output">{{ text }}</div>

    <div class="label">Your result to get a job (in persents) is
        <div id="analysis-result">{{ result }}</div>
    </div>


</body>

<footer class="footer">
    <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="https://vk.com/club225244210">
                <ion-icon name="logo-vk"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://t.me/decision_support_system">
                <img src="./static/icons/icons-telegram.svg" alt="Telegram">
            </a></li>
    </ul>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href='/'>Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#">About</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;2024 Alla Chernova | All Rights Reserved</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</html>