<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СППР - Анализ</title>
    <link rel="icon" href=" {{ url_for ('static', filename='icons/icon!!.png') }}" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/main_ai.css') }}">



</head>

<body>

    <div class="plane"></div>
    <form action="/get_pdf" method="post" enctype="multipart/form-data" id="pdf-form">
        <label for="pdf-file">Форма для загрузки Вашего резюме:</label>
        <input type="file" id="pdf-file" name="pdf-file" accept="application/pdf">
        <button type="submit">Загрузить</button>
    </form>
    <br>
    <br>
    <div class="label">Ниже отобразится загруженное Вами резюме. Пожалуйста, проверьте, все ли правильно загрузилось.</div>

    <div id="pdf-output">{{ text }}</div>

    <div class="label">Здесь отобразится результат оценки Вашего резюме:
        <div id="analysis-result">{{ result }}</div>
    </div>


</body>

<footer class="footer">
    <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="https://vk.com/club225244210">
                <ion-icon name="logo-vk"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://t.me/decision_support_system">
                <img src="./static/icons/icons-telegram.svg" alt="Telegram">
            </a></li>
    </ul>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href='/'>Главная</a></li>
        <li class="menu__item"><a class="menu__link" href='/about_project'>О проекте</a></li>
        <li class="menu__item"><a class="menu__link" href="/team">Команда</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Партнеры</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Связаться</a></li>

    </ul>
    <p>&copy;2024 Алла Чернова | Все права защищены</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</html>