<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Decision Support System - Main Page</title>
  <link rel="icon" href=" {{ url_for ('static', filename='icons/icon!!.png') }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_main_page.css') }}">
  <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css">
  <script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>

</head>

<body>
  <section>
    <div class="frame">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


      <h1>Welcome to Data Calculation Page</h1>
      <form action="/calculate" method="post">

        <label for="data" class="beaut_lett">How many projects are realised by this programmer?
          If less than 5, put "0", else put "1": </label>
        <br>
        <input type="text" id="data" name="data" class="input_field">

        <br>
        <br>

        <label for="data2" class="beaut_lett">The speed learning and motivation to study is below average - put "0",
          else - "1": </label>
        <br>
        <input type="text" id="data2" name="data2" class="input_field">

        <br>
        <br>

        <label for="data3" class="beaut_lett">Are all planned tasks completed? Yes - "1", no - "0": </label>
        <br>
        <input type="text" id="data3" name="data3" class="input_field">

        <br>
        <br>

        <label for="data4" class="beaut_lett">Is he/she proactive while working on a project? Yes - "1", no - "0":
        </label>
        <br>
        <input type="text" id="data4" name="data4" class="input_field">

        <br>
        <br>

        <label for="data5" class="beaut_lett">Was there any conflict in which the coder took part? Yes - "1", no - "0":
        </label>
        <br>
        <input type="text" id="data5" name="data5" class="input_field">

        <br>
        <br>

        <label for="data6" class="beaut_lett">Does he have a master's degree? Yes -
          "1", no - "0": </label>
        <br>
        <input type="text" id="data6" name="data6" class="input_field">
        <br>

        <input type="submit" value="Calculate" class = "but1">
      </form>
      <br>
      

      <div id="result"></div>

      <!-- <div class="firework"></div>
      <div class="firework"></div>
      <div class="firework"></div> -->


      <!-- <script> 
        const form = document.querySelector('form');
        form.addEventListener('submit', async (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          const response = await fetch('/calculate', {
            method: 'POST',
            body: formData
          });
          const result = await response.text();
          document.getElementById('result').innerText = `The probability that this person will be given an advance payment (in persents): ${result}`;
        });
      </script> -->
      <script type="text/javascript" src="./static/js/script1.js"></script>

    </div>

  </section>


</body>

<footer>

</footer>

</html>