{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<div class="login">
  <div class="form">
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" placeholder="Логин" required>
      </div>
      <div class="form-group">
        <label for="email">Почта:</label>
        <input type="email" id="email" name="email" placeholder="Почта" required>
      </div>
      <div class="form-group">
        <label for="psw">Пароль:</label>
        <input type="password" id="psw" name="psw" placeholder="Пароль" required>
      </div>
      <!-- <div class="form-group">
        <label for="psw-repeat">Повторите пароль:</label>
        <input type="password" id="psw-repeat" name="psw-repeat" placeholder="Повторите пароль" required>
      </div> -->
      <button type="submit">Регистрация</button>
    </form>
    <hr>
    <p>Уже есть аккаунт? <a href="{{url_for('login')}}">Вход</a></p>
  </div>
</div>

{% endblock %}