<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СППР - Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div class="header">

        <div class="block1">
            <div class="block0">
                <img src=".\static\img\logo_for_site..jpg" alt="logo">
            </div>
            СППР
        </div>

        <div class="block2">
            <ul class="menu">
                <li class="menu__item"><a class="menu__link" href='/'>Главная</a></li>
                <li class="menu__item"><a class="menu__link" href="/about_project">О проекте</a></li>
                <!-- <li class="menu__item"><a class="menu__link" href="#">Services</a></li> -->
                <!-- <li class="menu__item"><a class="menu__link" href="#">Team</a></li> -->
                <li class="menu__item"><a class="menu__link" href="#">Связаться</a></li>

            </ul>
        </div>
    </div>
    <div class="frame">
        <br>
        <br>
        <h1>
            <p>Система поддержки принятия решений</p>
            <p>на основе искуственного интеллекта</p>
        </h1>
        <br>
        <br>
        <br>
        <br>
        <div>
            <!-- onclick="window.location.href = '/main' ;"><b>Начать</b></button></p> -->
            <p><button id="myButton" class="but1" type="button" onclick="window.location.href = '/main_ai' ;"><b>Новая
                        технология</b></button></p>
        </div>
        <br>
    </div>

</body>


</html>