@charset "UTF-8";
/* * {
    margin: 0;
    padding: 0;
} */

.main_block {
    background-color: #f5f1ed;
    border-right: 100px solid #70798c;
    border-left: 100px solid #70798c;

}

#text {
    color: #252323;
    font-family: 'Georgia';
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    /* margin-top: 100px; */
}

#text1 {
    color: #252323;
    font-family: 'Georgia';
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    /* margin-top: 100px; */
}

#result {
    color: #a99985;
    font-family: 'Georgia';
    font-size: 300px;
    font-weight: bold;
    justify-content: center;
    display: flex;


}

.smth_about_person {
    border: 10px dashed #70798c;
    justify-content: center;
    background-color: #dad2bc;
    color: #2b2d42;
    font-family: 'Georgia';
    font-size: 50px;
    display: flex;
    width: 85%;
    border-radius: 70px;
    margin-left: auto;
    margin-right: auto;

}

#text_about_person {
    margin: 80px;
}