@font-face {
  font-family: 'adineueprocyr_boldweb';
  src: url('../fonts/adineueprocyr_boldweb.ttf');
}

@font-face {
  font-family: 'adineueprocyr_lightweb';
  src: url('../fonts/adineueprocyr_lightweb.ttf');
}

body {
  background-color: black;
  margin: 0;
}

.image-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  /* height: 100%; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.upload_button {
  width: 350px;
  height: 350px
}

.bottom_column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 100px;
  /* height: auto; */
}

.upper_column img {
  vertical-align: top;
}


.upload-icon {
  position: absolute;
  bottom: 0;
  margin-left: 140px;
  transform: translateX(-50%);
  top: 320px;
}

.aura-icon {
  position: absolute;
  bottom: 0;
  margin-left: 450px;
  transform: translateX(-50%);
  top: 380px;
}

.text {
  color: white;
  font-family: 'adineueprocyr_lightweb';
  font-size: 33px;
  text-align: center;
}

.text1 {
  right: 200px;
}

.text2 {
  margin-top: 100px;
}

.text3 {
  margin-left: 600px;
}

.value {
  width: 250px;
}

.value2 {
  margin-left: 100px;
}

.one_hundred {
  color: #E4B7FF;
  font-family: 'adineueprocyr_lightweb';
  font-size: 6em;
  margin-left: 600px;
}

.pro {
  color: #fff;
}

.upload-button {
  margin-top: 800px;
  /* display: inline-block; */
  padding: 18px 40px;
  /* adjust the padding to your liking */
  border: 1px solid #E4B7FF;
  /* your purple color */
  border-radius: 50px;
  /* make the button oval */
  background-color: transparent;
  /* make the button transparent */
  color: #E4B7FF;
  /* set the text color to your purple color */
  font-size: 3.6em;
  cursor: pointer;
  /* add a pointer cursor on hover */
  font-family: 'adineueprocyr_lightweb';
  display: block;
  margin-top: 100px;
  margin-left: 150px;
}

.upload-button:hover {
  background-color: rgba(108, 92, 231, 0.2);
  /* add a subtle hover effect */
}