@charset "UTF-8";
/* * {
    margin: 0;
    padding: 0;
} */

.main_block {
    background-color: #efefd0;
    border-right: 100px solid #ff6b35;
    border-left: 100px solid #ff6b35;
<<<<<<< HEAD
    padding: 250px;
=======
>>>>>>> 07b3fc0225dfa420c754e84df9aa64889fb64fb4

}

#text {
    color: #1a659e;
    font-family: 'Georgia';
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    /* margin-top: 100px; */
}

#text1 {
    color: #1a659e;
    font-family: 'Georgia';
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    /* margin-top: 100px; */
}

#result {
    color: #004e89;
    font-family: 'Georgia';
    font-size: 300px;
    font-weight: bold;
    justify-content: center;
    display: flex;


}

.smth_about_person {
    border: 10px dashed #004e89;
    justify-content: center;
    background-color: #f7c59f;
    color: #004e89;
    font-family: 'Georgia';
    font-size: 50px;
    display: flex;
    width: 85%;
    border-radius: 70px;
    margin-left: auto;
    margin-right: auto;

}

#text_about_person {
    margin: 80px;
<<<<<<< HEAD
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");



.footer {
    
    background: #ff6b35; 
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 100px; */
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
=======
>>>>>>> 07b3fc0225dfa420c754e84df9aa64889fb64fb4
}