@font-face {
    font-family: 'adineueprocyr_boldweb';
    src: url('../fonts/adineueprocyr_boldweb.ttf');
}

@font-face {
    font-family: 'adineueprocyr_lightweb';
    src: url('../fonts/adineueprocyr_lightweb.ttf');
}

body {
    background-color: #000000;
    margin: 0;
}

.main_block {
    /* border-right: 80px solid #00261b;
    border-left: 80px solid #00261b; */
    background-color: #000000;

}

#text {
    font-family: 'adineueprocyr_lightweb';
    color: white;
    background-color: #000000;
    font-size: 60px;
    font-weight: bold;
    /* justify-content: center; */
    display: flex;
    width: 90%;
    padding-top: 10%;
    padding-left: 10%;
}

#text1 {
    color: white;
    font-family: 'adineueprocyr_boldweb';
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    width: 90%;
    padding: 5%;

}

.result {
    color: #E4B7FF;
    font-family: 'adineueprocyr_boldweb';
    font-size: 300px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}

.smth_about_person {
    border: 2px dashed #E4B7FF;
    justify-content: center;
    background-color: black;
    font-size: 50px;
    display: flex;
    width: 85%;
    border-radius: 70px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

#text_about_person {
    margin: 10%;
    color: white;
    font-family: 'adineueprocyr_lightweb';
    text-align: center;

}

#text_about_person a {
    color: #E4B7FF;
    font-family: 'adineueprocyr_lightweb';

}

.mobile_logo img {
    margin-left: 20px;
    height: 40px;
    margin-top: 10px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.menu-list {
    display: none;
    position: absolute;
    right: 20px;
    background-color: black;
    padding: 20px;
    border: 1px solid #ddd;
    font-family: 'adineueprocyr_boldweb';
    width: 150px;
    font-size: 1.2em;
}

.menu-list li {
    list-style: none;
    margin-bottom: 10px;
}

.menu-list a {
    text-decoration: none;
    color: white;
}

.menu-toggle {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    /* margin-top: -140px; */
    width: 30px;
    height: 20px;
    background-image: url('../img/menu.svg');
    background-size: cover;
    cursor: pointer;
    /* margin-left: 90px; */
}


.side-images3 {
    position: relative;
    top: 0;
    width: 100%;
    right: 0;
    /* margin-top: -33px; */
}

.right_corner {
    position: absolute;
    bottom: 0;
    right: 0;
}

.icons_sm_mobile img {
    width: 40px;
}

.icons_sm_mobile {
    /* margin-bottom: 50px;
    margin-left: 50px; */
    position: absolute;
    margin-top: 120px;
    left: 50%;

    transform: translate(-50%, -50%);
}

.footer_links {
    color: white;
    font-family: 'adineueprocyr_lightweb';  
    display: block;
    padding: 10px;
    /* margin-left: 20%; */
    position: relative;
    top: 70px; /* move the element down 50px */
    font-size: 1.5em;
    text-align: center;
    z-index: 10;
}

.footer_links a {
    color: white;
    text-decoration: none;
    z-index: 10;
}

.text {
    background-color: black;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 80%;
    margin: 20px auto;
    margin-top: 10%;
    font-size: 50px;

}

/* .text::before {
    content: "";
    display: block;
    height: 2px;
    background-color: #ccc;
    margin-bottom: 10px;
} */

.text p {
    margin-bottom: 20px;
    /* add some margin between paragraphs */
}

.smth_about_person1 {
    margin-bottom: 10%;
}

@media only screen and (max-width: 2560px) {

    /* .main_block {
        border-right: 50px solid #00261b;
        border-left: 50px solid #00261b;
    } */

    #text {
        font-size: 20px;
        padding: 10px;
    }

    #text1 {
        font-size: 54px;
        padding: 10px;
        text-align: center;
    }

    .result {
        font-size: 120px;
        padding: 10px;
    }

    .smth_about_person {
        border: 2px dashed #E4B7FF;
        padding: 10px;
        font-size: 18px;
    }

    .text {
        padding: 10px;
        font-size: 25px;
    }

    .footer {
        padding: 10px;
        font-size: 14px;
    }

    .social-icon {
        flex-wrap: wrap;
    }

    .social-icon__item {
        margin: 5px;
    }

    .menu {
        flex-wrap: wrap;
    }

    .menu__item {
        margin: 5px;
    }
}

@media (max-width: 475px) {
    .main_block {
        background-color: black;
        /* border-right: 10px solid #00261b;
        border-left: 10px solid #00261b; */
    }

    #text1 {
        font-size: 1.3rem;
        margin-top: 5%;
        text-align: center;
    }

    .text {
        font-size: 1rem;
    }

    #text_about_person {
        margin: 10%;
        color: white;
    }

    .smth_about_person {
        border: 2px dashed #E4B7FF;
    }
}

@media only screen and (min-width: 475px) and (max-width: 835px) {
    .main_block {
        background-color: black;
        /* border-right: 50px solid #00261b;
        border-left: 50px solid #00261b; */
        width: 100%;
    }

    #text {
        font-size: 2.5rem;
    }

    .result {
        font-size: 7rem;
    }

    #text1 {
        font-size: 2rem;
        text-align: center;
    }

    #text_about_person {
        margin: 5%;
        color: white;
        font-size: 1.5rem;
        padding: 10%;

    }

    .smth_about_person {
        border: 2px dashed #E4B7FF;
    }

    .footer {
        width: 100%;
    }
}

@media only screen and (min-width: 835px) and (max-width: 1092px) {
    #text {
        font-size: 4rem;
    }

    .result {
        font-size: 9rem;
    }

    #text1 {
        font-size: 3rem;
        text-align: center;
    }

    #text_about_person {
        color: white;
        font-size: 1.5rem;
        padding: 5%;
        margin: 0;
    }
}

@media only screen and (min-width: 1092px) {

    #text {
        font-size: 3.5rem;
        margin-left: 10%;
    }

    #text1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .main_block {
        background-color: black;
        /* border-right: 120px solid #00261b;
        border-left: 120px solid #00261b; */

    }

    .result {
        font-size: 10rem;
    }

    #text_about_person {
        color: white;
        font-size: 1.5rem;
        padding: 5%;
        margin: 0;
    }

    .text {
        margin: 7% auto;
    }

    #text_about_person {
        color: white;
        font-size: 1.5rem;
        padding: 3%;
        margin: 0;
    }
}