@font-face {
  font-family: 'adineueprocyr_boldweb';
  src: url('../fonts/adineueprocyr_boldweb.ttf');
}

@font-face {
  font-family: 'adineueprocyr_lightweb';
  src: url('../fonts/adineueprocyr_lightweb.ttf');
}

body {
  background-color: #000000;
  margin: 0;
}


.image-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}


.image-row img:last-child {
  margin-left: auto;
}

.image-row img:nth-child(2) {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 120px;
}

.image-row img:nth-child(3) {
  position: absolute;
  left: 450px;
  /* Add a 20px offset from the left edge */
  right: 0;
  margin-top: 230px;
}

.text {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'adineueprocyr_boldweb';
  font-size: 23px;
  top: 76px;
}
.text0 {
  left: 485px;
}

.text0 a {
  color: #fff;
  text-decoration: none;
}

.text1 {
  left: 720px;
}

.text1 a {
  color: #fff;
  text-decoration: none;
}

.text2 {
  right: 600px;
}

.text2 a {
  color: #fff;
  text-decoration: none;
}

.text3 {
  right: 360px;
}

.text3 a {
  color: #fff;
  text-decoration: none;
}

.decsription {
  font-family: 'adineueprocyr_lightweb';
  color: #fff;
  margin-top: 400px;
  text-align: left; /* add this line */
  margin-left: -360px;
  width: 100%;
}
.highlight {
  color: #E4B7FF; /* change the color of the number to a pinkish hue */
}
.large {
  font-size: 3.4em;
}
.small {
  font-size: 2.8em;
}

.social-icons img {
  width: 40px; 
  /* padding: 10px 10px; */
}
.try-button {
  margin-top: 800px;
  display: inline-block;
  padding: 18px 40px; /* adjust the padding to your liking */
  border: 1px solid #E4B7FF; /* your purple color */
  border-radius: 50px; /* make the button oval */
  background-color: transparent; /* make the button transparent */
  color: #E4B7FF; /* set the text color to your purple color */
  font-size: 3.6em;
  cursor: pointer; /* add a pointer cursor on hover */
  font-family: 'adineueprocyr_lightweb';
}

.try-button:hover {
  background-color: rgba(108, 92, 231, 0.2); /* add a subtle hover effect */
}