@font-face {
    font-family: 'adineueprocyr_boldweb';
    src: url('../fonts/adineueprocyr_boldweb.ttf');
}

@font-face {
    font-family: 'adineueprocyr_lightweb';
    src: url('../fonts/adineueprocyr_lightweb.ttf');
}

body {
    background-color: #000000;
    margin: 0;
    font-family: 'adineueprocyr_lightweb';
}


a:hover {
    color: #CC0000;
    text-decoration: underline;
}

.clear {
    clear: both;
}

.flash {
    padding: 10px;
}

.flash.success {
    border: 1px solid #E4B7FF;
    /* color: #e5dbaf; */
    color: white;
    width: 50%;
    margin: 0 auto;
}

.flash.error {
    border: 1px solid #E4B7FF;
    color: white;
    width: 50%;
    margin: 0 auto;
}

.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    /* border: 1px solid #ddd;
    border-radius: 10px; */


}

.form {
    position: relative;
}

.login-form {
    margin-top: 20px;
    padding: 20px;

    /* border: 1px solid #ddd; */
    /* border-radius: 10px; */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    width: fit-content;
    font-family: 'adineueprocyr_lightweb';
    font-size: 16px;
    margin: 0px 10px;
}



input[type="email"],
input[type="password"],
input[type="text"] {
    width: 70%;
    height: 30px;
    padding: 7px;
    border: 1px solid #3C3C3C;
    border-radius: 5px;
    background-color: transparent;
    margin: 0 auto;
    display: block;


}

input#username[type="text"] {
    width: 70%;
    height: 30px;
    padding: 7px;
    border: 1px solid #3C3C3C;
    border-radius: 5px;
    background-color: transparent;
    margin: 0 auto;
    display: block;
}

input::placeholder {
    font-family: 'adineueprocyr_lightweb';
    font-size: 16px;
    /* change the font size */
}

button[type="submit"] {
    /* margin-top: 800px; */
    height: 30px;
    display: inline-block;
    padding: 0px 30px;
    border: 3px solid #E4B7FF;
    border-radius: 50px;
    background-color: transparent;
    color: #E4B7FF;
    font-size: 1.2em;
    cursor: pointer;

    font-family: 'adineueprocyr_boldweb';

    margin-left: 33%;


}

button[type="submit"]:hover {
    background-color: rgba(108, 92, 231, 0.2);
}

hr {
    margin-top: 20px;
    border: none;
    /* border-top: 1px solid #ccc; */
}

.flash {
    background-color: #f2dede;
    color: black;
    padding: 10px;
    border: 1px solid #E4B7FF;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* 
.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #00261b, #00261b57);
    opacity: 0.5;
    z-index: -1;
} */



.login {
    width: 320px;
    height: 450px;
    /* border: 1px solid #CCC; */

    background: black;
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
}

.login .form {
    width: 100%;
    height: 100%;
    /* padding: 15px 25px; */
}

.login .form h2 {
    color: #FFF;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 80px;
}


.login .form input {
    width: 245px;
    height: 25px;
    /* margin-top: 20px; */
    font-family: 'adineueprocyr_lightweb';
    padding: 0 15px;
    color: white;
    border-radius: 15px;
    font-size: 14px;
    align-items: center;
}
#username {
    background-color: transparent;
    width: 70%;
    height: 30px;
    padding: 7px;
    border: 1px solid #3C3C3C;
    border-radius: 5px !important;
    margin: 0 auto;
    display: block;
}

.username {
    background-color: transparent;
    width: 70%;
    height: 30px;
    padding: 7px;
    border: 1px solid #3C3C3C;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

.login .form input:focus {
    border: 1px solid rgba(255, 255, 255, .8);
    outline: none;
}

#username {
    background-color: transparent;
    width: 70%;
    height: 30px;
    padding: 7px;
    border: 1px solid #3C3C3C;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

button[type="submit"] {
    margin-left: 50%;
    transform: translateX(-50%);
}

.login .form input.submit {
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
}



input[type="checkbox"] {
    display: none;
    /* скрываем стандартный чекбокс */
}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

input[type="checkbox"]+label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    font-family: 'adineueprocyr_lightweb';
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:checked+label:before {
    background-color: rgba(32, 43, 51, 1);
    border-color: #402704d6;
}

input[type="checkbox"]:checked+label:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #E4B7FF;
    border-radius: 50%;
}

p {
    outline: 2px solid #FFFFFF;
    border: 5px white;
    border-radius: 5px;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.635);
    font-weight: bold;
    margin: 0px 10px;
}

.logo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    color: white;
    /* 3C3C3C */
    font-family: 'adineueprocyr_lightweb';
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.grey {
    color: #3C3C3C;
}

.bottom_img {
    position: absolute;
    bottom: 0;
    right: 0;
}