@font-face {
    font-family: 'adineueprocyr_boldweb';
    src: url('../fonts/adineueprocyr_boldweb.ttf');
}

@font-face {
    font-family: 'adineueprocyr_lightweb';
    src: url('../fonts/adineueprocyr_lightweb.ttf');
}

body {
    background-color: #000000;
    margin: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}



.mobile_logo img {
    margin-left: 20px;
    height: 60px;
    margin-top: 10px;
}

/* 

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    z-index: 1;
}

.menu__item1 {
    list-style: none;
}

.menu__link1 {
    font-size: 1.2rem;
    color: #00261b;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link1:hover {
    opacity: 1;
}

.menu__item {
    list-style: none;
} */

.hero {
    padding: 10px;
    text-align: center;
    color: white;
}

.hero h1 {
    font-family: 'adineueprocyr_boldweb';
}

.hero p {
    font-family: 'adineueprocyr_lightweb';
}

.person-container {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.person-container h1 {
    font-family: 'adineueprocyr_boldweb';
    color: white;
}

.person-photo {
    margin-right: 20px;
}

.person-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.person-container h2 {
    font-family: 'adineueprocyr_boldweb';
    color: white;
}

.person-info h3 {
    margin-top: 0;
    font-family: 'adineueprocyr_boldweb';
    color: white;
}

.person-info p {
    margin-bottom: 10px;
    font-family: 'adineueprocyr_lightweb';
    color: white;
}

.person-container {
    margin: 0 auto;
    width: 60%;
    margin-top: 5%;
}

.person-info {
    width: 50%;
}

.person-container {
    display: flex;
    align-items: flex-start;
}

.person-info {
    flex: 1;
    overflow-y: auto;
    max-height: none;
    /* Убираем ограничение по высоте */
    padding: 10px;
    /* Добавляем отступы внутри блока */
}

.last_container {
    margin-bottom: 100px;
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

.menu-list {
    display: none;
    position: absolute;
    right: 20px;
    background-color: black;
    padding: 20px;
    border: 1px solid #ddd;
    font-family: 'adineueprocyr_boldweb';
    width: 150px;
    font-size: 1.2em;
}

.menu-list li {
    list-style: none;
    margin-bottom: 10px;
}

.menu-list a {
    text-decoration: none;
    color: white;
}

.menu-toggle {
    position: absolute;
    /* top: 20px; */
    right: 20px;
    cursor: pointer;
    /* margin-top: 10px; */
    width: 30px;
    height: 20px;
    background-image: url('../img/menu.svg');
    background-size: cover;
    cursor: pointer;
    margin-top: -130px;
    right: 0;
}
@media (min-width: 1440px) {
    .menu-toggle {
        width: 50px;
        height: 40px;
        margin-top: -130px;
        right: 40px;
    }
}
.mobile_image {
    position: absolute;

    transform: translateY(-50%);
}

.mobile_image.left {
    left: 0;
    margin-top: 130px;
}

.mobile_image.right {
    right: 0;
    margin-top: 190px;
}

.mobile_logo img {
    margin-left: 20px;
    height: 60px;
    margin-top: 10px;
    right: 0;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
    z-index: 10;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

@media (max-width: 518px) {
    .person-container {
        flex-direction: column;
    }

    .person-photo {
        margin: 0 auto;
    }

    .person-info {
        width: 100%;
    }
}


.start-button {
    background-color: #00261b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


@media (min-width: 333px) {
    .bottom {
        display: none;
    }
}

@media (max-width: 1670px) {
    .background1 {
        display: none;
    }

    .background2 {
        display: none;
    }
}

@media (min-width: 1670px) {
    .mobile_logo {
        position: relative;
        z-index: 1;
    }

    .mobile_logo img {
        position: relative;
        z-index: 1000;
        width: 150px;
        height: 150px;

    }


    .team-row {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        position: relative;
        z-index: 0;
    }

    .background1 {
        float: left;
        width: 920px;
        object-fit: cover;
        z-index: 0;

        margin-top: -300px;
    }

    .background2 {
        float: right;
        width: 920px;
        object-fit: cover;
        margin-top: -300px;
        z-index: 0;

    }

    .background1 img {
        object-fit: cover;
        height: 300px;
        width: 100%;
    }

    .background2 img {
        object-fit: cover;
        height: 300px;
        width: 100%;
    }

    .person-wrapper {
        margin: 0 20px;
    }


}